################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/scripts/client/gui/mods/mod_Vanillifer.pyc
*.pyc
